

<ion-content  class="container">
  <ion-header>
    <ion-toolbar class="transparent-toolbar">
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="goBack()" class="back-button">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="logo">
      <img src="/assets/img/logo.png" alt="Logo" class="header-logo">
    </div>
  </ion-header>

 
 

  <!-- Términos y Condiciones -->
  <ion-card class="modal-content">
    <ion-card-header>
      <ion-card-title>Términos y Condiciones de Uso de BuriApp</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Bienvenido a Buriapp. Al descargar, acceder o utilizar nuestra aplicación, aceptas cumplir y estar sujeto a los siguientes Términos y Condiciones de Uso. Por favor, léelos cuidadosamente.</p>
      <h2>1. Aceptación de los Términos</h2>
      <p>Al acceder o utilizar Buriapp, aceptas estos Términos y Condiciones y nuestra Política de Privacidad. Si no estás de acuerdo con estos términos, no debes utilizar la aplicación.</p>
    </ion-card-content>
  </ion-card>

  <!-- Política de Privacidad -->
  <ion-card class="modal-content">
    <ion-card-header>
      <ion-card-title>Política de Privacidad de BuriApp</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>En Buriapp, nos comprometemos a proteger tu privacidad. Esta Política de Privacidad explica cómo recopilamos, usamos, compartimos y protegemos tu información personal cuando usas nuestra aplicación y servicios.</p>
      <h2>1. Información que Recopilamos</h2>
      <p>Al utilizar Buriapp, podemos recopilar varios tipos de información, incluyendo:</p>
      <ul>
        <li>Información personal: Nombre, dirección de correo electrónico, número de teléfono, y otros datos de contacto cuando creas una cuenta o te registras en nuestra aplicación.</li>
        <li>Información de uso: Detalles sobre cómo utilizas nuestra aplicación, como tu historial de búsquedas, preferencias de usuario, y reservas realizadas.</li>
        <li>Información de dispositivo: Información técnica sobre tu dispositivo, como el modelo, el sistema operativo, la dirección IP, y datos de navegación.</li>
        <li>Información de ubicación: Podemos recopilar datos de ubicación si activas servicios basados en la ubicación o si proporcionas información de ubicación explícitamente.</li>
      </ul>
      <!-- Agrega los puntos restantes aquí -->
    </ion-card-content>
  </ion-card>

  <!-- Contacto -->
  <div class="action-buttons">
    <ion-button href="mailto:buriappoficial@gmail.com">Correo: buriappoficialgmail.com</ion-button>
    <ion-button href="tel:+59163551738">Teléfono: +591 63551738</ion-button>
  </div>
</ion-content>
