ion-content {
  --background: url('/assets/img/bk.png') no-repeat center center / cover;
  --keyboard-offset: 0px; /* Asegura que no haya desplazamiento adicional cuando aparece el teclado */
  position: relative;
}
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Ajusta la posición de inicio del contenido */
    height: auto; /* Ajusta la altura automáticamente para permitir desplazamiento */
    padding: 20px;
    background: transparent;
    border-radius: 10px;
    
  }
  
  .logo {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  
    h1 {
      font-size: 3em;
      color: white;
      margin-right: 10px;
    }
  
    img {
      width: 180px;
      height: 180px;
    }
  }
  
  form {
    width: 100%;
    max-width: 300px;
  }
  
  ion-item {
    --background: #000;
    --border-radius: 15px;
    margin-bottom: 15px;
    border: solid 3px #5e09c0;
  border-radius: 15px;
  }
  
  ion-input {
    --color: white;
  }
  
  .login-button {
    margin-top: 20px;
    --background: #000;
    --border-radius: 15px;
    text-transform: uppercase;
    border: solid 3px #5e09c0;
  border-radius: 15px;
  }
  
  .register-text {
    color: white;
    margin-top: 20px;
  
    a {
      color: #7c4dff;
    }
  }
  
  .google-button {
    margin-top: 20px;
  }
  
  .local-register {
    color: white;
    margin-top: 20px;
  }
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }
  
  .invalid {
    border-color: red;
  }
  