<ion-content class="container">

  <ion-header>
    <ion-toolbar class="transparent-toolbar">
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="goBack()" class="back-button">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="logo">
      <img src="/assets/img/logo.png" alt="Logo" class="header-logo">
    </div>
  </ion-header>

  <!-- Título del Evento -->
  <div class="button-Eventos">
    <ion-button>
      {{ evento?.nombre }} <!-- Muestra el nombre del evento -->
    </ion-button>
  </div>
  
  <!-- Sección de Imágenes y Videos -->
  <div class="media-section" *ngIf="evento">
    <!-- Imágenes -->
    <img *ngIf="evento?.url_img" [src]="evento.url_img" alt="Imagen del Evento" class="responsive-img">

    <!-- Videos -->
    <video *ngIf="evento?.url_video" controls class="responsive-video">
      <source [src]="getSafeUrl(evento.url_video!)" type="video/mp4">
    </video>
  </div>

</ion-content>
