<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <img src="assets/bur-logo.png" alt="BUR Logo" height="30">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-background">
  <!-- Card para Shots y Tragos -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center custom-title">SHOTS Y TRAGOS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header class="custom-list-header">
          <ion-label>Producto</ion-label>
          <ion-label>Precio</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of shotsYTragos">
          <ion-label>{{ item.nombre }}</ion-label>
          <ion-note slot="end">{{ item.precio }}Bs</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Card para Vasos y Cervezas -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center custom-title">VASOS Y CERVEZAS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header class="custom-list-header">
          <ion-label>Producto</ion-label>
          <ion-label>Precio</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of vasosYCervezas">
          <ion-label>{{ item.nombre }}</ion-label>
          <ion-note slot="end">{{ item.precio }}Bs</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Card para Botellas -->
  <ion-card class="custom-card">
    <ion-card-header>
      <ion-card-title class="ion-text-center custom-title">BOTELLAS</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list-header class="custom-list-header">
          <ion-label>Producto</ion-label>
          <ion-label>Precio</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let item of botellas">
          <ion-label>{{ item.nombre }}</ion-label>
          <ion-note slot="end">{{ item.precio }}Bs</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
