.transparent-toolbar {
  --background: transparent;
}
.toolbar1{
  --background: black;
  --color: white; /* Color del ícono de retroceso */
  text-shadow: 
  0 0 2px #00f, /* Luz muy cercana */
  0 0 5px #00f; /* Luz cercana */
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.header-logo {
  width: 100px;
  height: 100px;
}

.back-button {
  --color: white; /* Color del ícono de retroceso */
}

.container {
  --background: url('/assets/img/bk.png') no-repeat center center / cover;
  padding: 20px;
}

.button-Eventos {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.custom-button {
  --border-radius: 15px;
  border-radius: 15px;
  --background: #000;
  --color: white;
  font-size: 14px;
  --padding-start: 10px;
  --padding-end: 10px;
  font-weight: 700;
  border: solid 2px #5e09c0;
  margin: 0 5px; /* Ajusta el espaciado entre botones */
}

.media-section ion-card {
  margin-bottom: 10px;
  --background: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
  --border-radius: 8px;
  overflow: hidden; /* Asegura que el contenido no sobresalga del borde del card */
}

.responsive-img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
  border-radius: 8px;
}

.responsive-video {
  width: 100%;
  height: auto; /* Mantiene la proporción del video */
  border-radius: 8px;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.action-buttons ion-button {
  margin: 0 10px;
}


ion-modal {
  --background: black;
  --border-radius: 12px;
  --width: 90%;
  --height: 200px;
  max-width: 360px;
}
.modal-content{
  --background: black;
  --color: white;
  text-shadow: 
  0 0 2px #00f, /* Luz muy cercana */
  0 0 5px #00f; /* Luz cercana */



}
ion-header {
  --background:black;
  --color: white;
}

ion-modal .modal-content {
  color: white;
  font-size: 16px;
  line-height: 1.6;
  padding: 20px;
  text-align: justify;
}

.toast-message {
  --background: #333;
  --color: #fff;
  --padding: 10px;
}