<ion-content class="container">
  <ion-header>
    <ion-toolbar class="transparent-toolbar">
      <ion-buttons slot="start">
        <ion-button fill="clear" (click)="goBack()" class="back-button">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
    <div class="logo">
      <img src="/assets/img/logo.png" alt="Logo" class="header-logo">
    </div>
  </ion-header>

  <!-- Botón para Eventos -->
  <div class="button-Eventos">
    <ion-button class="custom-button">
      {{ bar?.Nombre }} <!-- Muestra el nombre del bar -->
    </ion-button>
    <!-- Botón de Favoritos independiente -->
    <ion-button fill="clear" (click)="toggleFavorito()" class="custom-button">
      <ion-icon [name]="isFavorito ? 'heart' : 'heart-outline'" class="heart-icon"></ion-icon>
    </ion-button>
  </div>
  
  <!-- Botones para Horario y Menú -->
  <div class="button-container">
    <ion-button (click)="openHorarioModal()" class="custom-button">Horario</ion-button>
    <ion-button [routerLink]="['/detalle-eventos',bar?.ID]" class="custom-button">Eventos</ion-button>
    <ion-button [routerLink]="['/detalle-menu', bar?.ID]" class="custom-button">Menú</ion-button>
  </div>

  <!-- Sección de Imágenes y Videos -->
  <div class="media-section">
    <ion-card *ngFor="let media of mediaList" class="custom-card">
      <ion-card-content>
        <!-- Imágenes -->
        <img *ngIf="media.tipo === 'imagen'" [src]="media.URL" alt="Imagen del Bar" class="responsive-img">
        
        <video *ngIf="media.tipo === 'video'" controls class="responsive-video">
          <source [src]="getSafeUrl(media.URL)" type="video/mp4">
        </video>
        
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Botones de Acción -->
  <div class="action-buttons">
    <ion-button (click)="navigateToLocal()" class="custom-button">
      <ion-icon name="pin-outline"></ion-icon>
      Ir al Local
    </ion-button>
    <ion-button (click)="reserve()" class="custom-button">
      <ion-icon name="bookmark-outline"></ion-icon>
      Reservar
    </ion-button>
  </div>

   <!-- Modal para Horario -->
   <ion-modal [isOpen]="isHorarioModalOpen" (didDismiss)="isHorarioModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar class="toolbar1">
          <ion-title>Horario del Local</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isHorarioModalOpen = false">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content padding class="modal-content">
        <p>{{ horarioDetails }}</p>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
